body {
    background-color: #fefff8;
}

#myForm {
    align-items: left;
    align-content: left;
}

#container {
    align-items: center;
    align-content: center;
}

#container button {
    display: block;
    margin: 100 auto;
}

#welcome.hidden {
    display: none;
}


/* CSS FOR BUTTON  */

.button-gradient {
    background-image: linear-gradient(135deg, #ffc1d4, #ffe18e);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-gradient:active {
    outline: 0;
}

.button-gradient:hover {
    outline: 0;
    background-image: linear-gradient(135deg, #f1afc0, #ffe9bc);
    color: rgb(0, 0, 0);
}

.button-gradient span {
    transition: all 200ms;
}

.button-gradient:hover span {
    transform: scale(.9);
    /* opacity: .75; */
}

@media screen and (max-width: 991px) {
    .button-gradient {
        font-size: 15px;
        height: 50px;
    }
    .button-gradient span {
        line-height: 50px;
    }
}


/* CSS FOR TEXT  */

h1 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80px;
    font-weight: 1000;
    line-height: 64px;
    margin: 80 0 0;
    padding: 20px 30px;
    text-align: left;
    text-transform: uppercase;
}

h2 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 58px;
    margin: 0 0 0;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: rgb(194, 110, 0);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 58px;
    margin: 0 0 0;
    padding: 0 30px;
    text-align: center;
}

p {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 10px;
    margin: 0 0 0px;
}

a {
    background: -webkit-linear-gradient(135deg, #ff3d7b, #ffcd42);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

.date {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.date:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.author {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 38px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.author:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.date span,
.author span {
    background: #fdfdfd;
    padding: 0 10px;
    text-transform: uppercase;
}

.line {
    border-top: 1px solid #111;
    display: block;
    margin-top: 60px;
    margin-left: 30px;
    padding-top: 50px;
    position: relative;
}

.read-more {
    -moz-border-radius: 50%;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    background: #111;
    border-radius: 50%;
    border: 10px solid #fdfdfd;
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 80px;
    line-height: 80px;
    margin: -40px 0 0 -40px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
}

.read-more:hover {
    background: #990000;
    text-decoration: none;
}